</main>
<footer>
    <section>
        <!-- Footer -->
        <footer class="bg-dark text-center text-white">
            <!-- Grid container -->
            <div class="container p-4">
                <!-- Section: Social media -->

                <!-- Section: Form -->
                <section class="">
                    <form action="/subscribe" method="post">
                        <!--Grid row-->
                        <div class="row d-flex justify-content-center">
                            <!--Grid column-->
                            <div class="col-auto">
                                <p class="pt-2">
                                    <strong>Sign up for latest updates</strong>
                                </p>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-5 col-12">
                                <!-- Email input -->
                                <div class="form-outline form-white mb-4">
                                    <input type="email" id="form5Example24" class="form-control" placeholder="Email address" required>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-auto">
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-outline-light mb-4 subsribe-btn">
                                    Subscribe
                                </button>
                            </div>
                            <!--Grid column-->
                        </div>
                        <!--Grid row-->
                    </form>
                </section>
                <!-- Section: Form -->

                <!-- Section: Text -->
                <section class="mb-4">
                    <p>
                        MD MANAGER is a web application used to manage student fees record. Student can be registered and
                        every student can be tracked through dashboard. The fees can be paid using submission form and these all options are available 
                        only for the admin.
                        Admin username and password is available on <a target="_blank" href="https://github.com/Mdkaif-123/MD-Manager/tree/master">HERE</a>
                    </p>
                </section>
                <!-- Section: Text -->

                <!-- Section: Links -->
                <section class="">
                    <!--Grid row-->
                    <div class="row">
                        <!--Grid column-->
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <h5 class="text-uppercase">Menu</h5>

                            <ul class="list-unstyled mb-4">
                                <li>
                                    <a href="/" class="text-white">Home</a>
                                </li>
                                <li>
                                    <a href="/login" class="text-white">Login</a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-lg-6 col-md-6 col-sm12">
                            <h5 class="text-uppercase">Socials</h5>

                            <ul class="list-unstyled mb-0 d-flex justify-content-center" >
                                <li>
                                    <a href="https://www.youtube.com/@codeway8693" class="text-white"><i class="fa-brands fa-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/thekaifansari/" class="text-white"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/md-kaif-ansari-b74543243/" class="text-white"><i class="fa-brands fa-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="https://github.com/Mdkaif-123" class="text-white"><i class="fa-brands fa-github"></i></a>
                                </li>
                            </ul>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </section>
                <!-- Section: Links -->
            </div>
            <!-- Grid container -->

            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2023 Copyright:
                <a class="text-white" href="/">MD MANAGER.com</a>
            </div>
            <!-- Copyright -->
        </footer>
        <!-- Footer -->
    </section>
</footer>





</body>

<!-- ? LOCAL SCRIPT  -->


<!--? BOOTSTRAP CDN  -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
    integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
    crossorigin="anonymous"></script>

</html>